$get-path-to-assets : "http://mark.statos.org/src/img/";
// $get-path-to-assets : 'http://localhost:8888/mark/src/img/';

$silver-text:#3A3A3A;
$dark-brown-title: #574d4e;
$main-white: #fff;

$main-color: #00deac;
$light-grey: #e4e4e4;
$dark-gery: #888;
$logo-grey: #666;

$main-dark-grey: #3A3A3A;
$silver:#D4D4D4;
$silver-text:#3A3A3A;
$grey-txt-on-black:#d4d4d4;
$title-green: #53b74c;
$peach-color:#EAC297;
$favs-orange: #ff4c00;
$favs-orange: #ff4c00;

$color1: #0e0a0b;
