#massage-popup {
	.popup-wrapper {
		max-width: 500px;
		top: 50%;
		.wrapp {
			max-height: 855px;			
		}
		.close-popup {
			position: absolute;
			top: -26px;
			left: -60px;
			border: 2px solid #fff;
			padding: 12px;
			border-radius: 50%;
			img {
				display: block;
				filter: brightness(300%);
				transform: none;
				transition: transform 0.5s;
			}
			&:hover {
				img {
					transform: rotate(180deg);
					transition: transform 0.5s;
				}
			}
		}
		.massage-container {
			max-height: 807px;
			overflow-y: auto;
			margin-left: -12px;
			padding-left: 12px;
			.form {
				.selection {
					.select-users {
						width: 65%;
						display: inline-block;
					}
					.select-oll {
						width: 35%;
						display: inline-block;
						span {
							display: inline-block;
							padding-right: 16px;
						}
						.checkboxes-and-radios {
							display: inline-block;
							width: 40px;
							padding-right: 8px;
							position: relative;
							top: 8px;
						}
					}
				}
				textarea {
					width: calc(100% - 42px);
					min-height: 140px;
					padding: 14px 20px 10px 20px;
					font-weight: 400;
					font-size: 16px;
					border: 1px solid #aaa;
					border-radius: 4px;
					resize: none;
					margin-bottom: 10px;
					outline: none;
				}
				input {
					position: relative;
					width: calc(100% - 42px);
					height: 30px;
					padding: 10px 20px;
					font-weight: 400;
					font-size: 16px;
					border: 1px solid #aaa;
					border-radius: 4px;
					margin-bottom: 12px;
					outline: none;
				}
				.select-product {
					position: relative;
					cursor: pointer;
					margin-bottom: 10px;
					background: #3bbe3b;
					padding: 10px;
					width: 150px;
					border-radius: 30px;
					color: #fff;
					span {
						padding-right: 16px;
						position: relative;
						top: -1px;
						display: inline-block;
						vertical-align: top;
					}
					img {
						position: absolute;
						left: 16px;
						top: 12px;
						width: 16px;
					}
				}
				.selected-products {
					margin-bottom: 10px;
				}
				.selected-users {
					ul {
						li {
							position: relative;
							display: inline-block;
							padding: 8px 16px;
							color: #000;
							border: 1px solid #000;
							background: #fff;
							margin: 4px;
							border-radius: 30px;
							.delete {
								display: inline-block;
								padding-right: 8px;
								cursor: pointer;
								img {
									width: 10px;
								}
							}
						}
					}
				}
				.add-image {
					.edit-image-wrapper {
						text-align: center;
					}
				}
				.save-arr {
					button {
						background: #000;
						color: #fff;
						border: none;
						font-size: 16px;
						padding: 10px 0;
						border-radius: 30px;
						outline: none;
						cursor: pointer;
						transition: all 0.5s;
						&:hover {
							transition: all 0.5s;
							background: #000;
						}
						&.save-and-send {
							display: block;
							width: 100%;
							margin-top: 10px;
							margin-bottom: 10px;
							background: #3bbe3b;
							&:hover {
								background: darken(#3bbe3b, 10%);
							}
						}
						&.save {
							display: inline-block;
							width: 55%;
							margin-left: 5%;
							&:hover {
								background: lighten(#000, 20%);
							}
						}
						&.cancel {
							display: inline-block;
							width: 40%;
							background: #ccc;
							&:hover {
								background: darken(#ccc, 10%);
							}
						}
					}
				}
			}
		}
	}
}
@media all and (max-width: 1365px) {
	#massage-popup {
		.popup-wrapper {
			top: 16px;
			transform: none;
			.wrapp {	
				.massage-container {
					max-height: 88vh;
					overflow-y: auto;
					overflow-x: hidden;
				}
				.close-popup {
					top: 0;
				}
			}	
		}
	}
}
@media all and (max-width: 800px) {
	#massage-popup {
		.popup-wrapper {
			.wrapp {
				padding: 16px !important;
				max-height: 95vh;
				.massage-container {
					max-height: 90vh;
				}
			}
			.close-popup {
				top: 11px!important;
				left: 10px;
				filter: invert(1);
				zoom: .6;
				z-index: 99;
				background: #000;
			}
		}
	}
}